/* .App {

  /* background-color: #282c34; */
  
/* } */ */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}
.App-flex{
  display: flex;
  justify-content: space-around;
}
.App-rules{
  max-width: 16%;
}

.App-generation{
/* text-align: center;
 */
 padding-left: 8%;
}
.App-generation h2{
  padding-left: 10%;
}
.App-about{
  max-width: 50%;
  margin: auto;
  font-size: 18px;
}
.App-about h2{
  text-align: center;
}
.cell {
  display: inline-block;
  /* border: 1px solid white; */
  border: 1px solid grey;
  width: 26px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}
.Grid {
  width: 150px;
  line-height: 0;
  /* margin-top: 20px; */
  margin-left: 12%;
}
.isAlive{
  background-color: #61DBFB;

}
.isDead{
  /* background-color: #282c34; */
  background-color: white;
}
/* .flexSpace{
  display:flex;
  justify-content: space-evenly;
} */
.Buttons{
  padding-left: 3%;
}