.App {

  background-color: #282c34;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}
.App-flex{
  display: flex;
  justify-content: space-around;
}
.App-rules{
  max-width: 20%;
}

.App-generation{
text-align: center;
}
.App-about{
  max-width: 40%;
  margin: auto;
}
.App-about h2{
  text-align: center;
}
